$cinza-sidebars: #343541;
$cinza-background-chat: #202123;
$cinza-componentes: #2E2F37;
$background: #131416;
$laranja: #FFA559;
$cinza-chat-1: #474856;
$cinza-chat-2: #30313C;
$laranja-textos: #FFE6C7;
$cinza-claro-texto: #DBD7DF;
$cinza-escuro-texto: #343541;