@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Bebas+Neue&family=DM+Serif+Display&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body, #root {
  align-items: center;
  background-color: #131416;
  color: white;
  display: flex;
  font-family: "Work Sans", sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}